body {
    background-color: #E7E6E2;
    margin: 0;
}
header {
    font-family: "Kanit", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    background-color: #014AA6;
}
.maybelogo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}
.threehead{
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.threehead a {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 0 30px;
}

.header-right {
    margin-left: 1000px;
}

.threehead a:hover, .threehead a:active {
    text-decoration: underline;
}


.sayhi{
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.sayhi-content{
    max-width: 800px;
    color: #014AA6;
    font-size: 20px;
}

.sayhi-content h1{
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    color: #014AA6;
}

.img-box img{
    border-radius: 50%;
    width: 551px;
    height: 643px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: #E7E6E2;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.about-img img{
    position: relative;
    width: 400px;
    height: 500px;
}

.about-content h3{
    text-align: left;
    font-size: 30px;
    color: #014AA6;
}

.about-content p{
    font-size: 20px;
    margin: 2em 0 3em;
    color: #014AA6;
}